fastapi
uvicorn[standard]
streamlit
requests
python-dotenv
pydantic-settings
sentence-transformers
pinecone
scikit-learn
pandas
langchain
langchain-huggingface
huggingface-hub
langchain-google-genai
google-generativeai
streamlit-option-menu